@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    height: 80%;
    width: 100%;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
    min-height:400px;
    max-height:400px;
}

img.img-responsive
{
    min-height:400px;
    max-height:400px;
}
.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

/*********************************************
        		Theme Elements
*********************************************/

.gold{
    color: #FFBF00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product{
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img{
    max-width: 230px;
    max-height: 300px;
}

.product-rating{
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-stock{
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info{
    margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}

.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/*********************************************
				ITEM
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    padding-right: 50px;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
    max-height: 155px;
}

.center-image {
    width:200px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}
.oauthButtons {
  display: inline;
  float: left;
}

/*********************************************
					Dropdown Cart
*********************************************/


ul.dropdown-cart{
    min-width:350px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img {
    width: 50px;
    height: 50px;
    /*max-width:100%;*/
    /*max-height:100%;*/
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    float:right;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:15px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
